<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Sentiment Analysis (Beta)</title>
<link rel="stylesheet" href="{{ url_for('static', filename='templates/style.css') }}">
</head>

<body>
 <div class="login">
	<center><h2>Text Classification</h2>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="InputText" placeholder="InputText" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   {{ prediction_text }}
	
  <h2>Model design</h2>
  <ol style="list-style-type:disc;">
  <li>Trained Corpus: Movies review dataset.</li>
  <li>Logistic regression gave the best f1,accuracy_score,roc curve.</li>
  <li>Please set your expectation to the minimum while using the app as the model is trained on small dataset.I'm working on fine tuning this model.</li>
</ol>
</center>
 </div>

	
</body>
</html>
